#slideshow(ng-attr-style="background-image:url({{full.photo.url|escape}})",
ng-class="{'active':full.show}",ng-click="full.show=false")
  .closebtn &times;
  .ctrl
    .plus(ng-show="!tick.end && tick.start",
    ng-class="{'active':full.photo.like[backend.user.uid].value}",
    ng-click="like(full.photo,$event);") +1
    .num {{full.photo.like || {}|count}}

