#slideshow(ng-attr-style="background-image:url({{full.photo.url|escape}})",
ng-class="{'active':full.show}",ng-click="full.show=false")
  .closebtn &times;
  if showplus
    .ctrl(ng-show="!tick.end && tick.start")
      .plus(ng-class="{'active':full.photo.like[backend.user.uid].value}",
      ng-click="like(full.photo,$event);") +{{full.photo.like||{}|count}}

