html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #404040;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#root.container {
  width: 100%;
  padding: 0;
}
.file {
  display: inline-block;
  width: 200px;
  height: 120px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  background-size: cover;
  margin: 10px;
  border-radius: 2px;
  position: relative;
}
.file .progress {
  position: absolute;
  bottom: 5px;
  left: 5%;
  height: 10px;
  width: 90%;
  margin: 0;
  -ms-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.file .progress.dim {
  opacity: 0.2;
}
.file i.glyphicon-ok {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #4d4;
  display: block;
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #4d4;
  text-align: center;
  line-height: 20px;
  opacity: 0;
  -ms-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.file i.glyphicon-ok.active {
  opacity: 1;
}
.container .thumbnail.well {
  margin: 10px;
  float: left;
  width: 30%;
  position: relative;
}
@media (max-width: 800px) {
  .container .thumbnail.well {
    width: 27%;
    padding: 2px;
  }
}
@media (max-width: 480px) {
  .container .thumbnail.well {
    width: 40%;
    padding: 2px;
  }
}
.container .thumbnail.well a.img {
  display: block;
  min-height: 100px;
}
.container .thumbnail.well .ib {
  width: 100%;
  padding: 5px;
}
.container .thumbnail.well img {
  width: 100%;
  border-radius: 3px;
}
#layout {
  width: 100%;
  padding: 10px;
}
.count.btn-fab.btn {
  position: absolute;
  width: 90px;
  bottom: 10px;
  left: 10px;
  margin: 0;
  border-radius: 5px;
  opacity: 1 !important;
  background: #fff !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  font: normal 13px Roboto, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #555;
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: visible;
}
.count.btn-fab.btn i.fa.fa-heart,
.count.btn-fab.btn i.fa.fa-check {
  line-height: 30px;
  float: right;
  font-size: 14px;
  margin-right: 6px;
}
.count.btn-fab.btn i.fa.fa-heart {
  color: #ccc;
}
.count.btn-fab.btn i.fa.fa-check {
  color: #f00;
  display: none;
}
.count.btn-fab.btn.active {
  color: #f00;
}
.count.btn-fab.btn.active i.fa.fa-heart {
  display: none;
}
.count.btn-fab.btn.active i.fa.fa-check {
  display: inline-block;
}
.iso {
  -ms-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}
.iso-show {
  opacity: 1;
}
#full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
#full.active {
  display: block;
}
#full .count.btn-fab.btn {
  margin-left: -45px;
  left: 50%;
  bottom: 20px;
}
#upload-input {
  display: block;
  width: 100%;
  height: 112px;
  position: relative;
  cursor: pointer;
}
#upload-input input#files {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.01;
  cursor: pointer;
}
#upload-input .layer {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: #999;
  border: 1px dashed #ccc;
  border-radius: 5px;
  cursor: pointer;
}
#counter,
#back-top {
  position: fixed;
  width: 80px;
  height: 30px;
  z-index: 12;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}
#counter {
  top: 10px;
  right: 100px;
  width: 160px;
}
#back-top {
  top: 10px;
  right: 10px;
}
#timer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  font-size: 20px;
  line-height: 30px;
  z-index: 12;
  padding: 5px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  text-align: center;
}
#revote {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  padding: 20px;
  background: rgba(0,0,0,0.8);
}
.prj-row {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.prj-row .prj-cell {
  position: absolute;
  width: 20%;
}
.prj-row img {
  width: 98%;
  margin: 2%;
}
.prj-row .count.btn.btn-fab {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -45px;
}
.cell3 {
  width: 30%;
  text-align: center;
  position: absolute;
  top: 15%;
  height: 70%;
  left: 0;
}
@media (max-width: 800px) {
  .cell3 {
    height: auto;
    top: 25%;
  }
}
.cell3 img {
  max-width: 100%;
  max-height: 100%;
}
.cell3 .btn {
  background: #fff;
  color: #404040;
  margin-top: -20px;
}
@media (max-width: 800px) {
  #revote .btn.btn-default {
    width: 80%;
    margin-left: -40%;
  }
}
#revote .btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  background: #fff;
  color: #404040;
}
