doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: false, og: false, favicon: true }
- var lib = { jquery: false, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false }
- var assets = "assets"
- var thumbnail = "thumbnail.png"
- var favicon = "thumbnail.png"
- var showplus = true
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="/assets/bootstrap-material/0.5.7/css/bootstrap-material-design.min.css")

    script(src="https://cdn.firebase.com/js/client/2.2.4/firebase.js")
    script(src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js")
    script(type="text/javascript",src="#{assets}/isotope/2.0.0/isotope.pkgd.min.js")
    script(src="https://apis.google.com/js/client.js")
    script(type="text/javascript",src="/assets/bluebird/3.1.1/bluebird.min.js")
    script(type="text/javascript",src="index.js")
    script(type="text/javascript",src="/assets/bootstrap-material/0.5.7/js/material.min.js")
  body(ng-app="main",ng-controller="main")
    include /jade/init.jade
    #root
      #menu-voteinfo(ng-show="backend.inited") 已投 {{backend.info.like || {}|count}} 票
      #menu-backtop(ng-click="backtop()") #[i.fa.fa-angle-up]
      a#menu-gorank(ng-show="tick.start && !tick.end",href="/rank/") 排名
      #menu-timer: .ib 
        span(ng-if="!tick.end && tick.start") 距離投票結束還有 {{tick.hrs}} 小時 {{tick.min}} 分 {{tick.sec}} 秒
        span(ng-if="tick.end && tick.start") 投票已結束
        span(ng-if="!tick.start") 投票尚未開始
      //-.g-signin2(data-onsuccess="onSignIn")
      #layout
        .x-card(ng-repeat="photo in backend.stream|orderBy:'-'",
        ng-attr-data-order="{{photo.order}}"): .ib
          div: img(ng-attr-src="{{photo.url}}",ng-click="full.set(photo)",isotope)
          .ctrl
            .plus(ng-class="{'active':photo.like[backend.user.uid].value,'disabled':tick.end || !tick.start}",
            ng-click="like(photo,$event)") +1
            .num {{photo.like || {}|count}}
      hr
      include /jade/slideshow.jade
      #revote(ng-show="revote"): .ib
        .content
          .title 已達投票上限，下圖為目前的選擇，如想更換請點刪除
          .photo-ctrl
            .photo(ng-repeat="(k,v) in backend.info.like|likecheck",
            ng-attr-style="background-image:url({{v.url}})")
              .x-btn(ng-click="remove(k)"): i.fa.fa-trash
              //-img(ng-attr-src="{{k|decode}}")
              //-.btn.btn-default(ng-click="remove(k)") 刪除

        .ctrl: .x-btn(ng-click="revote=false") 我改好了
