#menu-voteinfo, #menu-backtop
  position: fixed
  top: 16px
  line-height: 56px
  font-size: 32px 
  z-index: index(order, 'menu')

#menu-voteinfo
  border-radius: 2px
  box-shadow: 0 1px 3px rgba(0,0,0,0.4)
  top: 24px
  line-height: 13px
  right: 80px
  font-size: 13px
  font-weight: 500
  padding: 15px 20px
  background: rgba(0,0,0,0.87)
  color: #eee

#menu-backtop
  width: 56px
  height: 56px
  border-radius: 50%
  right: 16px
  box-shadow: 0 4px 4px rgba(0,0,0,0.1)
  text-align: center
  cursor: pointer
  background: #fff

#menu-timer
  position: fixed
  bottom: 0
  left: 50%
  transform(translate(-50%,0))
  width: 100%
  max-width: 480px
  padding: 16px
  font-size: 13px
  line-height: 13px
  z-index: index(order, 'menu')
  color: #eee
  text-align: center

#menu-timer .ib
  width: 100%
  padding: 15px 20px
  background: rgba(0,0,0,0.87)
  border-radius: 2px
  box-shadow: 0 1px 3px rgba(0,0,0,0.4)
