@import 'vars'
@import 'basic'

#root.rank
  text-align: center
  h1
    background: #778f9b
    margin-top: 0;
    font-size: 24px
    padding: 16px 0
    font-weight: bold
    color: #fff
    text-align: left
    padding-left: 72px
    box-shadow: 0 4px 4px rgba(0,0,0,0.5)


#ranklist
  margin-top: 5%

.x-card.rank
  width: 19%
  text-align: left
  float: none
  display: inline-block
.x-card.rank .ctrl
  height: 52px
  .plus, .icon, .num
    height: 36px
    line-height: 36px
    font-size: 18px
  .icon
    width: 30px
    margin-right: 0
  .num:last-of-type
    margin-right: 16px

@media(max-width: 800px)
  .x-card.rank
    width: 30%
  .x-card.rank .ctrl .num:last-of-type
    margin-right: 8px
    margin-left: 0

@media (max-width: 600px)
  #ranklist
    margin-top: 0
  .x-card.rank
    width: 48%
    margin: 1%
  .x-card.rank .ctrl .num:last-of-type
    margin-right: 8px
    margin-left: 0
